/*css de pablo.html*/
/*body{
    background-color: rgb(218, 182, 139);
}*/
/*#fondo{
    background-color: rgb(216, 216, 171);
    /*opacity: 0.3;
    height: 900px;
    background-image: url(pipochikito.jpeg);
    background-size: 100px 100px;
    background: rgb(218, 182, 139) url(pipochikito.jpeg) repeat-y center bottom;
}*/